@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}
img {
  width: 100%;
}
#header {
  background-attachment: fixed;
  padding-top: 12px;
  padding-bottom: 60px;
}
#header .nav {
  top:0;
  position:relative;
  padding: 17px 90px;
  display: flex;
  justify-content:space-between; 
}
#header .nav .nav_logo li {
  font-weight: bold;
  font-size: 30px;
  color: blue;
  list-style-image: url("/src/assets/images/Logo.png");
  
}
#header .nav .nav_li {
  display: flex;
}
#header .nav .nav_li li {
  margin-top: 11px;
  list-style: none;
  margin-right: 20px;
  color: rgb(66, 12, 190);
}
#header .header_body p {
  border-bottom: 2px; 
  font-size: 30px;
  color: rgba(48, 22, 117, 0.877);
  padding: 80px 95px;
}
#section {
  padding: 17px 90px;
  font-size: 48px;
  color:rgb(21, 32, 39)
}
#section .button_primary {
  color: white;
  background-color: rgba(0, 0, 255, 0.758);
  border: 2px solid;
  border-radius: 25%;
  padding: 10px 45px;
  font-size: 18px;
}
.section_image {
  position: absolute;
  padding: 9px 366px 160px 153px;
  top: 68px;
}
#section .image_icon {
  display: flex;
}
#section .image_icon .icon {
  list-style: none;
  align-items: center;
}
#footer {
  background-attachment: fixed;
  padding: 5px;
  padding-bottom: 90px;
  padding-top: 17px;
  margin: 500px 70px;
}
#footer .footer_li {
  display: flex;
  list-style: none;
  font-size: 14px;
  justify-content:space-between;
  width:1255px;
  height: 50px;
  border: 3px ;
  background-color: rgb(109, 190, 243);

}
#footer .footer_li .footer_text {
  font-size: 25px;
  list-style-image: url("/src/assets/images/Logo.png");
  lighting-color: black;
}
